Cartopy==0.23.0
cdo==1.6.1
cdsapi==0.7.0
geopandas==1.0.0a1
matplotlib==3.5.1
numpy==1.23.5
pycountry==24.6.1
pycountry_convert==0.7.2
Requests==2.32.3
scikit_learn==1.5.1
scipy==1.8.0
seaborn==0.11.2
Shapely==1.8.0
windpowerlib==0.2.2
xarray==0.16.1
